body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  padding: 0 30px;
}
.header {
  position: relative;
}
.header__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 54px;
}
.header__wrapper {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50px;
  margin-bottom: 100px;
}
.phone__btn {
  padding: 21px 25px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}
.phone__label {
  color: #fff;
}
.second__head {
  color: #ffff33;
  text-align: center;
  font-size: 37px;
}
.second__item {
  font-size: 20px;
  color: #fff;
  line-height: 50px;
}
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.consult {
  height: 315px;
  width: 322px;
  background-color: #fff;
  margin-bottom: 50px;
  border-radius: 5px;
  padding: 50px;
}
.consult__head {
  text-align: center;
}
.consult__input {
  height: 60px;
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #999999;
}
.consult__btn {
  width: 100%;
  padding: 20px 0;
  background-color: #ffff33;
  border: none;
  -webkit-box-shadow: 0 5px #999900;
          box-shadow: 0 5px #999900;
  border-radius: 7px;
}
.money {
  position: absolute;
  right: 38%;
  bottom: -5%;
}
.advantage {
  margin-bottom: 200px;
}
.advantage__text {
  font-size: 18px;
  text-align: center;
  width: 50%;
}
.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantage__label {
  font-size: 24px;
}
.img {
  background-color: #ffff33;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.large-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.small-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.small-g {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.stages {
  max-width: 1012px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.stages__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 89%;
  margin: 0 auto;
}
.stages__item {
  font-size: 100px;
  color: #ffff33;
}
.stages__img {
  max-width: 85%;
  margin: 0 auto;
  display: block;
}
.stages__img-v {
  display: none;
}
.stages__discript {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.stages__text {
  -ms-flex-preferred-size: 16%;
      flex-basis: 16%;
  text-align: center;
}
.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333333;
  min-height: 161px;
  margin-bottom: 164px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10px;
  border-radius: 10px;
  padding: 20px;
}
.feedback__input {
  width: 322px;
  margin-right: 10px;
}
.feedback__btn {
  width: 320px;
  height: 58px;
}
@media (max-width: 768px) {
  .group,
  .small-g {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .feedback__input,
  .feedback__btn {
    width: 320px;
  }
}
@media (max-width: 750px) {
  .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__wrapper {
    background-position: center top;
  }
  .second__head {
    margin: 0;
  }
  .consult {
    width: 85%;
    padding: 20px;
    height: 50%;
  }
  .consult__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .consult__input,
  .consult__btn {
    width: 320px;
    height: 58px;
  }
  .consult__input {
    margin-right: 10px;
  }
  .money {
    right: 33%;
    bottom: -15%;
  }
  .stages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .stages__number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1100px;
  }
  .stages__img {
    display: none;
  }
  .stages__discript {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1015px;
  }
  .stages__text {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    margin: 0;
  }
  .stages__img-v {
    display: block;
  }
}
@media (max-width: 630px) {
  .phone__label {
    display: none;
  }
  .consult__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .consult__head {
    margin-top: 0;
  }
  .money {
    display: none;
  }
  .header__wrapper {
    padding-top: 20px;
  }
  .second__item {
    line-height: 40px;
  }
}
@media (max-width: 615px) {
  .consult {
    display: none;
  }
}
@media (max-width: 514px) {
  .header__first {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    margin-bottom: 20px;
  }
}
